@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid black;
}

.container {
  margin: auto;
  width: 90%;
  /* height: 100%; */
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #5f6d7e;
}

.container-menu-nav {
  margin-left: -20%;
  /* font-size: 1.2rem; */
}

.container-menu-nav > a {
  margin: 0 1.1rem;
  text-decoration: none;
  color: #5f6d7e;
}
.container-menu-nav > a:hover {
  /* font-weight: 600; */
  color: #296fde;
  border-bottom: 3px solid #296fde;
  transition: 150ms;
}

.active {
  color: #296fde !important;
  font-weight: 600;
  border-bottom: 3px solid #296fde;
}

.active:hover {
  border-bottom: 3px solid black;
}

.container-button-nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.button {
  border: 1px solid #296fde;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45%;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn-white {
  color: #296fde;
}
.btn-fill {
  color: #fff;
  background-image: linear-gradient(150deg, #3a8ef6, #7c1add);
}

.button:hover {
  box-shadow: 1px 1px 5px black;
}

/* Hero Banner */
.container-hero {
  display: flex;
  height: 30rem;
  justify-content: space-between;
}

.container-image-hero {
  width: 40%;
  height: 100%;
}

header#hero {
  height: 30rem;
  background-image: linear-gradient(#3a8ef6, #7c1add);
}
.container-headline {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 30rem;
}
.title-hero {
  font-weight: 700;
  /* font-size: 2.2rem; */
  font-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* padding-right: 10px; */
  margin-bottom: .5rem;
}

.logo-white {
  /* width: 20rem; */
  /* height: ; */
  padding-left: 15px;
  display: inline-block;
  height: 110%;
  padding-bottom: 1%;
}

.text-tagline {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 2.2rem;
  width: 80%;
}
.btn-hero {
  padding: 15px;
  margin: 0;
  color: #296fde;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 2px;
}
.btn-hero:hover {
  box-shadow: 2px 2px 8px #296fde;
  scale: 1.01;
  transition: all .3s;
}

.container-pelayanan-kami {
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.title-pelayanan-kami {
  color: #296fde;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  margin-bottom: .6rem;
}
.subtitle-pelayanan-kami {
  color: #5F6D7E;
  text-align: center;
  font-size: 1rem;
}

.container-card-pelayanan {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.card-pelayanan {
  width: 30%;
  border: 1.5px solid #3a8ef6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
  text-align: center;
  background-color: #F6F9FF;
}
.logo-pelayanan {
  margin-bottom: .5rem;
}
.title-card-pelayanan {
  color: #363636;
  font-weight: 700;
  font-size: 1.2rem;
  /* font-style: bold; */
  letter-spacing: 1px;
  margin-bottom: .5rem;
}
.subtitle-card-pelayanan {
  color: #7C8B9D;
  font-size: 1rem;
  font-weight: 500; 
  letter-spacing: 1px;
}

/* Kenalan */
.container-kenalan {
  display: flex;
  background-color: #EEF4FF;
  /* height: 20rem; */
}
.container-img-kenalan {
  /* flex-grow: 1; */
  width: 40%;
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-text-kenalan {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  /* height: 20rem; */
  width: 60%;
  /* flex-wrap: wrap; */
  /* flex-grow: 1; */
}
.title-kenalan {
  color: #296fde;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.subtitle-kenalan {
  color: #5F6D7E;
  letter-spacing: 1px;
  width: 90%;
  text-align: justify;
}

/* Artikel */
.container-artikel {
  margin-top: 5rem;
}
.container-card-artikel {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}

.card-artikel {
  width: 31%;
  border: 1px solid #296fde;
  background-color: #F6F9FF;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  /* height: 42rem; */
}
header.artikel {
  color: #296fde;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  margin-bottom: .6rem;
}

.title-artikel {
  font-size: 1.5rem;
  font-weight: 500;
  color: #3a8ef6;
  padding: 20px;
}
.deskripsi-artikel {
  font-size: 1.2rem;
  color: #5F6D7E;
  padding: 5px 25px;
}
.selengkapnya {
  color: #296fde;
  font-size: 1.25rem;
  padding: 2px 25px 40px 25px;
  font-weight: 500;
}

.img-artikel img {
  z-index: -5;
}

.container-btn-selengkapnya {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.btn-artikel {
  color: #fff;
  background-image: linear-gradient(150deg, #3a8ef6, #7c1add);
  width: 20% !important;
  border: 1px solid #296fde;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-width: 45%; */
  font-weight: 600;
  letter-spacing: 1px;
}